<app-navbar></app-navbar>
<header class="main-header">
  <div class="background-overlay text-white">
    <div class="container">
      <div class="row mt-5 mb-3">
        <div class="col-md-6 my-auto fontNavbar oneSectionA">
          <div class="header-content-left">
            <h1 class="display-1"><i class="fas fa-code-branch"></i> Git Commits</h1>
          </div>
        </div>
        <div class="col-md-6 fontBody oneSectionB">
          <div class="header-content-right">
            <h3 class="display-4">A NEW WAY OF MAKE COMMITS <i class="fas fa-exclamation"></i></h3>
            <a href="/activity" class="btn btn-primary btn-lg mt-2">see all my repos</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<div class="twoSection text-center fontTechnologies">
  <div class="container mt-1 mb-3">
    <h2 class="mt-3">Hi! My name is Hector and these are some technologies and frameworks that I use</h2>
  </div>
  <div class="row mt-1 mb-1">
    <div class="col-md-2">
      <h1 class="display-1"><i class="fab fa-angular"></i></h1>
      <h3>Angular</h3>
    </div>
    <div class="col-md-2">
      <h1 class="display-1"> <i class="fab fa-node"></i></h1>
      <h3>NodeJS</h3>
    </div>
    <div class="col-md-2">
      <h1 class="display-1"> <i class="fab fa-java"></i></h1>
      <h3>Java</h3>
    </div>
    <div class="col-md-2">
      <h1 class="display-1"><i class="fab fa-js"></i></h1>
      <h3>JavaScript</h3>
    </div>
    <div class="col-md-2">
      <h1 class="display-1"><i class="fab fa-html5"></i></h1>
      <h3>HTML</h3>
    </div>
    <div class="col-md-2">
      <h1 class="display-1"><i class="fab fa-css3"></i></h1>
      <h3>CSS</h3>
    </div>
  </div>
  <div class="row mt-1 mb-1">
    <div class="col-md-2">
      <h1 class="display-1"> <i class="fas fa-code"></i></h1>
      <h3>OOP</h3>
    </div>
    <div class="col-md-2">
      <h1 class="display-1"> <i class="fab fa-bootstrap"></i></h1>
      <h3>BootStrap</h3>
    </div>
    <div class="col-md-2">
      <h1 class="display-1"><i class="fab fa-npm"></i></h1>
      <h3>Packages NPM</h3>
    </div>
    <div class="col-md-2">
      <h1 class="display-1"><i class="fab fa-gitlab"></i></h1>
      <h3>GitLab</h3>
    </div>
    <div class="col-md-2">
      <h1 class="display-1"><i class="fab fa-github"></i></h1>
      <h3>GitHub</h3>
    </div>
    <div class="col-md-2">
      <h1 class="display-1"><i class="fab fa-jenkins"></i></h1>
      <h3>Jenkins</h3>
    </div>
  </div>
  <div class="row mt-1 mb-1">
    <div class="col-md-4">
      <h1 class="display-1"> <i class="fas fa-database"></i></h1>
      <h3>DATABASES</h3>
    </div>
    <div class="col-md-4">
      <h1 class="display-1"><i class="fas fa-feather-alt"></i></h1>
      <h3>Apachetomcat Server</h3>
    </div>
    <div class="col-md-4">
      <h1 class="display-1"><i class="fab fa-docker"></i></h1>
      <h3>Dockers.io</h3>
    </div>
  </div>
</div>
