<div class="container repoActivity">
  <div *ngIf="commits.length == 0">
    <div class="alert alert-light mt-5 text-center text-primary" role="alert">
      <h1><i class="fas fa-info-circle"></i> Select a repo</h1>
    </div>
  </div>
  <div class="card-default mt-4 mb-5 shadow fontBody" *ngIf="commits.length > 0">
    <div class="card-header bg-primary text-white">
      <div class="card-title text-center">
        <i class="fas fa-history"></i> Historial Commits
      </div>
    </div>
    <div class="card-body text-white bg-white">
      <div class="table-responsive-md">
        <table class="table table-bordered border-primary">
          <thead>
            <tr class="text-center text-primary">
              <th scope="col" class="bg-primary text-white" ><i class="fas fa-code-branch"></i></th>
              <th scope="col" class="bg-primary text-white" ><i class="fas fa-user-alt"></i> Autor</th>
              <th scope="col" class="bg-primary text-white" ><i class="far fa-calendar-alt"></i> Date</th>
              <th scope="col" class="bg-primary text-white" ><i class="far fa-comment-alt"></i> Comment</th>
            </tr>
          </thead>
          <tbody>
            <ng-template ngFor [ngForOf]="commits" let-id="index" let-commit>
              <tr class="text-center text-primary">
                <th scope="row"><i class="fas fa-code-branch"></i></th>
                <td class="ps-2 pe-2">{{commit.commit.author.name}}</td>
                <td >{{commit.commit.author.date | date}}</td>
                <td >{{commit.commit.message}}</td>
              </tr>
            </ng-template>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="mt-4">
  </div>
</div>
