<div class="container repoActivity">
  <div  class="card-default mt-4 mb-5 shadow fontBody" >
    <div class="card-header bg-primary text-white">
      <div class="card-title text-center">
        <h3><em class="fas fa-history"></em> Historial Commits</h3>
      </div>
    </div>
    <div class="card-body text-white bg-white">
      <div class="alert alert-light mt-1 text-center text-primary" role="alert" *ngIf="commits.length == 0">
        <h1><i class="fas fa-info-circle"></i> Select a repo</h1>
      </div>
      <div class="table-responsive-md" *ngIf="commits.length > 0">
        <table class="table table-striped fontCommit">
          <thead>
            <tr class="text-center text-primary">
              <th scope="col" class="bg-primary text-white" ><i class="fas fa-code-branch"></i></th>
              <th scope="col" class="bg-primary text-white" ><i class="fas fa-user-alt"></i> Autor</th>
              <th scope="col" class="bg-primary text-white" ><i class="far fa-calendar-alt"></i> Date</th>
              <th scope="col" class="bg-primary text-white" ><i class="far fa-comment-alt"></i> Comment</th>
            </tr>
          </thead>
          <tbody>
            <ng-template ngFor [ngForOf]="commits" let-id="index" let-commit>
              <tr class="text-center text-secondary">
                <th scope="row"><i class="fas fa-code-branch"></i></th>
                <td class="ps-2 pe-2">{{commit.commit.author.name}}</td>
                <td >{{commit.commit.author.date | date:'medium'}}</td>
                <td >{{commit.commit.message}}</td>
              </tr>
            </ng-template>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="mt-4">
  </div>
</div>
